section.wrapper
{
  display: inline-block;
  text-align: center;
  position:fixed;
  top: 0.5%;
  left: 44%; 
  max-width: 10vw;
  max-height: 10vh;
}

div#game
{
  visibility:hidden;  
}

div#non-game
{
  position:fixed;
  left:40%;
  top: 30%;
  font-size: 20px;
  visibility:visible;
}

div#saved-data
{
  visibility:hidden;
}

div#joystick_zone
{
  position: fixed;
  right: 6.4%;
  top: 10.1%;
  width: 20%;
  height: 20%;
  background-color:#ff595900;
}

section.needs
{
  position: fixed;
  left: 80%;
  top: 60px;
  padding-left: 0px;
  margin-right: 100px;

  width: 300px;
  height: 650px;
  border: 3px solid #000000;
  background-color: white;

  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

#gameover
{
  position: fixed;
  left: 40%;
  top: 45%;
  padding-left: 0px;
  margin-right: 100px;

  width: 300px;
  height: 68px;
  border: 3px solid #000000;
  background-color: rgb(0, 0, 0);

  font-family: sans-serif;
  color: red;
  font-size: 20px;
  text-align: center;

  visibility: hidden;
}

#energyTxt
{
  position:fixed;
  left: 82%;
  top: 55px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}
div#energyBG
{
  position:fixed;
  left: 82%;
  top: 115px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 0, 0);
}
div#energy
{
  position:fixed;
  left: 82%;
  top: 115px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 200, 0);
}


#hungerTxt
{
  position:fixed;
  left: 82%;
  top: 155px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}
div#hungerBG
{
  position:fixed;
  left: 82%;
  top: 215px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 0, 0);
}
div#hunger
{
  position:fixed;
  left: 82%;
  top: 215px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 200, 0);
}

#funTxt
{
  position:fixed;
  left: 82%;
  top: 255px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}
div#funBG
{
  position:fixed;
  left: 82%;
  top: 315px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 0, 0);
}
div#fun
{
  position:fixed;
  left: 82%;
  top: 315px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 200, 0);
}

#bladderTxt
{
  position:fixed;
  left: 82%;
  top: 355px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}
div#bladderBG
{
  position:fixed;
  left: 82%;
  top: 415px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 0, 0);
}
div#bladder
{
  position:fixed;
  left: 82%;
  top: 415px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 200, 0);
}

#socialTxt
{
  position:fixed;
  left: 82%;
  top: 455px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}
div#socialBG
{
  position:fixed;
  left: 82%;
  top: 515px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 0, 0);
}
div#social
{
  position:fixed;
  left: 82%;
  top: 515px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 200, 0);
}

#hygieneTxt
{
  position:fixed;
  left: 82%;
  top: 555px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}
div#hygieneBG
{
  position:fixed;
  left: 82%;
  top: 615px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 0, 0);
}
div#hygiene
{
  position:fixed;
  left: 82%;
  top: 615px;

  width: 200px;
  height: 40px;
  background-color:rgb(0, 200, 0);
}

#doorOptions
{
  visibility: hidden;
  position:fixed;
  left:20px;
  top: 180px;
  outline: 2px solid rgb(0, 0, 0);
  background-color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}

#bedOptions
{
  visibility: hidden;
  position:fixed;
  left:20px;
  top: 180px;
  outline: 2px solid rgb(0, 0, 0);
  background-color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}

#deskOptions
{
  visibility: hidden;
  position:fixed;
  left:20px;
  top: 180px;
  outline: 2px solid rgb(0, 0, 0);
  background-color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}

canvas
{
    position:fixed;
    left:20%;
    display: inline;
    background-color: rgb(177, 177, 177);
    max-height: 90vh;
    max-width: 60vw;
}

body
{
    background-color: rgb(177, 177, 177);
    color: rgb(0, 0, 0);
}
div#clock
{
    position:fixed;
    text-align: center;
    left: 5%;
    top: 10%;
    max-height: 10vh;
    max-width: 15vw;
    color: rgb(0, 0, 0);
    border: 5px solid black;
    background-color: rgb(255, 255, 255);
    font-size:120%;
}

img{
    visibility:hidden;
    height: 10px;
}
  